body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.unreal-engine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px; /* Adjust the height as needed */
}

.unreal-engine-embed {
  width: 100%;
  height: 200%;
}
.cust-container{
  height: 220px;
}